* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.hero-image {
    background-image: url("hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navigation li {
    margin: 9px;
    font-size: 20px;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.navigation li a:hover,
.navigation li a:visited {
    color: orange;
}

.hero-image>h1,
.hero-image>p {
    text-align: center;
    font-size: 30px;
    top: 35%;
    left: 30%;
    position: relative;
    background-color: white;
    width: 40%;
    color: firebrick;
}

.card {
    margin: 50px;
    padding: 50px;
    width: 300px;
    height: 400px;
    background: #80c4ff;
    border-radius: 20px;
}

section>h2 {
    text-decoration: underline;
    text-align: center;
}